:root {
    --colour-main: #e6eeee;
    --colour-second: #0081a7;
    --colour-buttons: #00afb9;
    --colour-accent: #f07167;
  }

* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 40px;
  }

  header {
    text-align: center;
    margin: 50px auto;
  }

.calculator {
    font-weight: bold;
    background-color: var(--colour-main);
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0px 4px #888888;
    border-radius: 5px;
}

.upper {
  padding-top: 10px;
  height: 20%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.outer-screen {
  box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.8) inset;
  height: 100%;
  width: 60%;
  background-color: var(--colour-second);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.screen {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.lower {
  height: 60%;
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-right: 60px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
 height: 100%;
 width: 80%;
}

.right {
  height: 100%;
  width: 20%;
  margin-left: 10px;
}

.btn {
  background-color: var(--colour-buttons);
  width: 80px;
  height: 60px;
  margin: 5px;
  padding: 30px 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px #888888;
  transition: all .2s ease-in-out;
}

.btn:hover, btn:focus {
  color: white;
  cursor: pointer;
  background-color: gray;
}

.clear {
  background-color: var(--colour-accent);
}

.operator {
  background-color: var(--colour-second);
}

footer {
  font-size: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.debugging {
  font-size: 20px;
}